.navbar__menu {
    ul 
    {
      text-align: right;
      list-style: none;
    } 
    li a {
      text-decoration: none;
      text-transform: uppercase;
      list-style: none;
    }
    .input-menu {
      border-radius: 30px;
    }
}

