.navbar__menu {
  width: 960px;
  padding: 10px;
  border-bottom: 1px solid gray
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.nav__lista {
  display: inline-block;
  width: 840px;
  text-align: right;
}